In [26]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('data/players_20.csv')

In [28]:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [29]:
# Print all columns
# for col in df.columns:
#     print(col)

In [30]:
df.shape

(18278, 104)

In [34]:
# Nationality is a categorical column
# value_counts() - used to ice a frequecy count on the different categories present
df['nationality'].value_counts()

England        1667
Germany        1216
Spain          1035
France          984
Argentina       886
               ...
South Sudan       1
Malawi            1
Barbados          1
Belize            1
Indonesia         1
Name: nationality, Length: 162, dtype: int64

In [35]:
# Top ten 
df['nationality'].value_counts()[0:10]

England        1667
Germany        1216
Spain          1035
France          984
Argentina       886
Brazil          824
Italy           732
Colombia        591
Japan           453
Netherlands     416
Name: nationality, dtype: int64

In [36]:
# Top five
df['nationality'].value_counts()[0:5]

England      1667
Germany      1216
Spain        1035
France        984
Argentina     886
Name: nationality, dtype: int64

In [37]:
# Bar Plot of the top 5 nationalities, Getting the keys
df['nationality'].value_counts()[0:10].keys()

Index(['England', 'Germany', 'Spain', 'France', 'Argentina', 'Brazil', 'Italy',
       'Colombia', 'Japan', 'Netherlands'],
      dtype='object')

In [49]:
plt.figure(figsize=(8, 5))
plt.bar(list(df['nationality'].value_counts()[0:5].keys(), list(df['nationality']).value_counts()[0:5]))

AttributeError: 'list' object has no attribute 'value_counts'